*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    height: 100%;
    background: #7E0505;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1;
    overflow-y: scroll;
}

.maintop, .assemblytop{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.brand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
}

.brand>dl{
    width: 33.3%;
    padding: 2px;
}

.brand>dl>dd{
    width: 100%;
    background: #fff;
}

.brand>dl>dd>img{
    width: 100%;
}

.brand>dl>dt{
    color: red;
    font-size: 16px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 0 0 3px 3px;
}

footer{
    width: 100%;
    height: 70px;
    background: #fff;
}

footer ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul li{
    width: 20%;
    display: flex;
    flex-direction: column;
}

footer ul li img{
    width: 50%;
    padding: 5px;
    margin: 0 auto;
}

footer ul li span{
    text-align: center;
}